/* styles.css 
 * Group 2: Aldo, David, Exabiier, Joseph
 */

/* Clear all defaults */
body {
	margin: 0;
	padding: 0;
}
/* Root variables and themes */
:root {
	/*
	 * --primary-color: ;
	 * --secondary-color: ;
	 * --padding-standard: ;
	 * --border-standard: ;
	 * --heading-font: ;
	 * --body-font: ;
	 */
}
/* Navigation bar styles */
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

.nav-links {
	display: flex;
	gap: 2rem;
}

.nav-logo svg {
	width: auto;
	height: 40px;
}
/* Header styles */

/* Section styles */

/* Footer styles*/
