:root {
    --primary-color: black;
    --secondary-color: #ffa500;
    --text-color: white;
    --spacing-unit: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

body {
	background:var(--primary-color);
	color: var(--text-color);
	height: 100vh;
}

/* pseudo-display for operations and answers*/
.screen {
	display: flex;
	justify-content: right;
    align-items: center;
}

#prevOperation {
	position: absolute;
	font-size: 25px;
	top: 9%;
}
#output {
	position: absolute;
	top: 30%;
	font-size: 30px;
}

/* button layout*/

.operator {
	background: var(--secondary-color) !important;
}

.toprow {
	background: grey !important; 
}

.operator:hover, .toprow:hover, .buttons div:hover  {
    background: lightgray !important;
    cursor: pointer;
}
.operator:active, .toprow:active, .buttons div:active  {
    background: white !important;
    cursor: pointer;
}

.buttons {
	display: inline-grid;
	align-items: center;
	position: absolute;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	top: 40%;
	height: 60%;

}

.buttons div {
	/*padding: 20px;*/
	position: relative;
	display: flex;
	font-size: 30px;
	text-align: center;
	width: 90%;
	left: 5%;
	background: darkgray;
	border: 2px hidden;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	height: 90%;
}
