.buttons {
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	/* background-color: dodgerblue;
	padding: 10px; */
}

.buttons div {
	/*background-color: #f1f1f1;
	border: 1px solid black; */
	padding: 20px;
	font-size: 30px;
	text-align: center;
}